.footer {
  margin: 0;
  padding: 0;
  bottom: 0;
  border-top: 2px black solid;
  
}

.footer p {
  font-size: 0.8em;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  color: black;
}