.input_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 60em;
  /* max-height: 3em; */
  align-items: center;
  
}

.main_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10em;
  margin: 0;
  padding: 0;
}

.main_input {
  /* max-width: 40em; */
  width: 20em;
}


.resultCitation {
  /* height: 20em;
  padding: 2em; */
  margin-top: 0;
  position: relative;
  padding: 0 1em 0 1em;
}