.main_container {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




h1, h2, h5 {
  padding: 0.5em;
  text-align: center;
}

h1 {
  font-weight: 600;
}

p {
  padding: 0em 1.5em 0em 1.5em;
  text-align: center;
}



.intro_container {
  background-color: rgb(238, 229, 229);
  padding: 2em;
}