.tested_websites_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 238, 238);
  padding: 2em;
}

.tested_websites {
  display: flex;
  justify-content: center;
  width: 30em;
  font-size: 0.8em;
  word-wrap: break-word;

}

.tested_websites > div {
  word-wrap: normal;
  text-align: left;
  width: 10em;

}